
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=Poppins:wght@700;900&display=swap');
  
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=Poppins:wght@900&display=swap');


  @import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');


@import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=Poppins:wght@700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root{
    font-size: 62.5%
}
header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    height: 100vh;
    background-image: url('../css/Images/rogerio.jpg');
    background-size: cover;
    padding: 23.4rem 10.9rem;
}

  h1 {
    font-size: 6.5rem;
    font-weight: bold;
    color: #fff;
    font-family: 'Poppins';
}
span{
    font-family: 'PT mono';
    font-size: 2rem;
    color: #fff
}
.botao{
padding: 1.2rem 8.5rem;
border: 0.3rem solid #6DFF39;
border-radius: 0.5rem;


font-family: 'Courier Prime';
font-weight: 700;
font-size: 2.5rem;
line-height: 2.8rem;
color: #6DFF39;

}
section{

        display: flex;
        gap: 2rem;
        padding: 8.6rem;
        background-color: black;
    }
    
    .avatar {
        border-radius: 50%;
       
    }
    
    #texto-apresentacao{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
        font-family: 'Courier Prime';
        font-size: 1.5rem;
        color: #6dff39

    }
    

p{
    
    font-family: 'Courier Prime';
    font-size: 1.5rem;
    color: #6dff39
}
